*{
	padding: 0;
	margin: 0;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
}
.media{
	border: 1px solid red;
	border-radius: 20px;
	padding: 20px;
}
img{
	border-radius: 100%;
	*{
		padding: 0;
		margin: 0;
	}
	body,html{
		height: 100%
	}
	body{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.media{
		border: 1px solid red;
		border-radius: 20px;
	}
	.image{
		border-radius: 100%;
	}
	.media{
		display: flex;
	}
